<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo_request.user_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @photo_request.schedule %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @photo_request.contact %>
</p>

<p>
  <strong>Status:</strong>
  <%= @photo_request.status %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @photo_request.reply %>
</p>

<%= link_to 'Edit', edit_photo_request_path(@photo_request) %> |
<%= link_to 'Back', photo_requests_path %>
