<p id="notice"><%= notice %></p>



<% if @photo_request.present? %>
<span>you have a pending photo request</span><%= link_to 'Edit', edit_photo_request_path(@photo_request.ids) %>
<% else %>
<%= link_to 'Request Photographer', new_photo_request_path %>
<% end %>

<h1>Your Art Works</h1>


<% @art_works.each do |art_work| %>
<%= link_to art_work do %>

<h3><%= art_work.title %></h1>

    <% if art_work.image.attached? %>
    <% art_work.image.each do |img| %>
    <%= image_tag(img, size: "200") %>
    <% end %>
    <% else %>
    <p>images not yet uploaded</p>
    <% end %>

    <%end%>

    <% end %>

    <br>

    <%= link_to 'New Art Work', new_art_work_path %>